# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/src/data/csv/abilities.csv
/src/data/json/abilities.json
/src/data/csv/ability_prose.csv
/src/data/json/evolution.json
/src/data/csv/evolution_triggers.csv
/src/data/json/forms.json
/src/data/csv/generation_names.csv
/src/data/csv/generations.csv
/src/data/csv/move_damage_classes.csv
/src/data/csv/move_effect_prose.csv
/src/data/csv/moves.csv
/src/data/json/moves.json
/src/data/csv/pokemon.csv
/src/data/json/pokemon.json
/src/data/csv/pokemon_abilities.csv
/src/data/csv/pokemon_evolution.csv
/src/data/csv/pokemon_form_names.csv
/src/data/csv/pokemon_forms.csv
/src/data/csv/pokemon_moves.csv
/src/data/json/pokemon_moves.json
/src/data/csv/pokemon_species.csv
/src/data/csv/pokemon_stats.csv
/src/data/csv/pokemon_types.csv
/src/data/csv/stats.csv
/src/data/csv/types.csv
